@{
    ViewBag.Title = "Index";
}

<h2>資三 C11010327 公司 登入系統</h2>

<div class="a1">
    <form method="get" action="member327">
        <table>
            <tr>
                <td style="text-align:right;">
                    帳號:
                </td>
                <td>
                    <input type="text" name="myacc" /><br />
                </td>
            </tr>

            <tr>
                <td style="text-align:right">
                    密碼:
                </td>
                <td>
                    <input type="text" name="mypwd" /><br />
                </td>
            </tr>

            <tr>
                <td style="text-align:right">
                    顯示的動物:
                </td>
                <td>

                    <div>
                        <input type="radio" id="Dog" name="drone" value="Dog"> Dog<br />
                        <input type="radio" id="Cat" name="drone" value="Cat">Cat<br />
                        <input type="radio" id="Bird" name="drone" value="Bird"> Bird<br />
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" value="login" style="width:100px;height:30px">
                </td>
            </tr>

        </table>
    </form>
</div>