
@{
    ViewBag.Title = "member327";
}

<div>
    <h3 style="color:blue">你輸入的帳號是:@ViewBag.useracc。密碼是:@ViewBag.userpwd </h3>

    <h3 style="color:red"> 你選擇的圖片是:@ViewBag.drone</h3>
</div>

<img src="~/images/@ViewBag.userimg" height="200" width="350" />

